<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      style="font-size: 16px;" lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Gestión de direcciones</title>
</head>

<body class="home">

<div layout:fragment="content">
    <h1>Gestión de direcciones</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" th:object="${address}" method="post">

                    <div class="box-body">

                        <div class="form-group">
                            <input th:type="hidden" th:field="${address.id}"/>
                            <label for="address_nombre" th:text="#{Address.addressnombre}"></label>
                            <input type="text"
                                   th:field="${address.daycareNombre}"
                                   name="address_nombre" class="form-control" id="address_nombre" placeholder="Nombre" disabled/>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>