<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Gestión de direcciones</title>
</head>

<body class="home">

<div layout:fragment="content">
    <h1>Gestión de direcciones</h1>
    <a th:href="@{/address/create}">Nueva dirección</a>
    Mostrar <span sd:page-size-selector="javascript"></span> entradas
    <form action="#" th:action="@{'/'}" method="post">
        <table style="border-collapse: collapse; width: 100%;">
            <thead>
            <tr>
                <th>Id</th>
                <th>País</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Código postal</th>
                <th>Dirección</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,iter : ${address}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.country}"></td>
                <td th:text="${item.province}"></td>
                <td th:text="${item.city}"></td>
                <td th:text="${item.postalCode}"></td>
                <td th:text="${item.address}"></td>
                <td>
                    <a href="#" class="btn btn-default" th:href="@{'/address/' + ${item.id}}"
                       title="View">Ver</a>
                    <a href="#" class="btn btn-default" th:href="@{'/address/' + ${item.id} + '/edit'}"
                       title="Edit">Modificar</a>
                    <button class="btn btn-danger" type="submit" value="Delete"
                            th:formaction="'/address/' + ${item.id} + '/delete'">Borrar</button>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(address.content)}">
                <td colspan="13" class="text-center">No existen direcciones</td>
            </tr>
            </tbody>
        </table>
</form>
</div>
<div th:if="${not #lists.isEmpty(address.content)}">
    <div class="text-center">
        <nav>
            <ul class="pagination" sd:pagination="full">
                <div th:if="${address.totalPages > 0}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                    <li th:class="${pageNumber==address.number + 1} ? active">
                        <a href="#" th:href="@{/address(size=${address.size}, page=${pageNumber})}"
                           th:text=${pageNumber}></a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
</div>
</div>
</body>
</html>
