<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Gestión de servicios de usuarios</title>
</head>

<body class="home">

<table layout:fragment="content">
    <h1>Lista residencias</h1>

    <form action="#" th:action="@{'/'}" method="post">
        <table style="width: 100%">
            <tr th:each="item : ${daycareuser}">
                    <div class="card custom-card text-center mr-2 mt-2 ml-2 mb-2"
                         style="width: 15rem; display: inline-block">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${'Nombre residencia - ' + item.name}">Id</h5>
                            <p class="card-text" th:text="${item.nightPrice}">Precio</p>
                            <p class="card-text" th:text="${item.phone}">Télefono</p>
                            <p class="card-text" th:text="${item.email}">Email</p>
                            <p class="card-text" th:text="${item.address}">Dirección</p>
                            <p class="card-text" th:text="${item.ranking}">Ranking</p>

                        </div>
                    </div>
                </div>
            </tr>
        </table>


    </form>
</div>
</table>
</body>
</html>
