<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" style="font-size: 16px;" lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">



<body data-home-page="Doggo.html" data-home-page-title="Doggo" class="u-body u-xl-mode" data-lang="es" data-style="login-template-1" data-posts="" data-global-section-properties="{&quot;code&quot;:&quot;LOGIN&quot;,&quot;colorings&quot;:{&quot;light&quot;:[&quot;clean&quot;,&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;,&quot;clean&quot;,&quot;clean&quot;],&quot;dark&quot;:[&quot;clean&quot;,&quot;clean&quot;,&quot;clean&quot;]},&quot;isPreset&quot;:true}" data-source="fix" data-page-sections-style="[{&quot;name&quot;:&quot;login-form-1&quot;,&quot;margin&quot;:&quot;both&quot;,&quot;repeat&quot;:false}]" data-page-coloring-types="{&quot;light&quot;:[&quot;clean&quot;,&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;,&quot;clean&quot;,&quot;clean&quot;],&quot;dark&quot;:[&quot;clean&quot;,&quot;clean&quot;,&quot;clean&quot;]}" data-page-category="&quot;Login&quot;">

<div layout:fragment="content">



    <section class="u-align-center u-clearfix u-palette-1-base u-block-f9ab-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="carousel_3f67" data-source="functional_fix" data-id="f9ab">
        <img class="u-expanded-width u-image u-block-f9ab-2" th:src="@{/images/62e4d9f618eebe9e0a97ee13ba4c76881369e7f94e36e75f4262195ee6c4ceee4461c27b136116df809b4d32e04627b454f6a4b3ffc0c8caee196f_1280.jpg}" data-image-width="1280" data-image-height="847">

        <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-white u-block-f9ab-3">
            <div class="u-container-layout u-block-f9ab-4"><span class="u-border-8 u-border-white u-file-icon u-icon u-icon-circle u-block-f9ab-5"><img th:src="@{/images/Logo.png}" alt="" data-original-src="np://user.desktop.nicepage.com/Site_76119565/images/Logo.png" data-color=""></span><h2 class="u-text u-text-default u-text-palette-2-base u-block-f9ab-6">Iniciar sesión</h2><div class="u-form u-login-control u-block-f9ab-7">
                <form th:action="@{/login}" method="post" class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" source="custom"  style="padding: 0px;">

                    <p th:if="${errors}" style="color:red;">Usuario o contraseña incorrectos.</p>
                    <div class="u-form-group u-form-name u-label-top u-block-f9ab-8">
                        <label for="user-a30d" class="u-label u-text-grey-30 u-block-f9ab-9">Usuario</label>
                        <input name="username" type="text" placeholder="usuario" id="usuario-a30d"  class="u-border-10 u-border-grey-10 u-grey-10 u-input u-input-rectangle u-radius-50 u-block-f9ab-10" required="">
                    </div>
                    <div class="u-form-group u-form-password u-label-top u-block-f9ab-11">
                        <label for="password-a30d" class="u-label u-text-grey-30 u-block-f9ab-12">Contraseña</label>
                        <input name="password" type="password" placeholder="contraseña" id="contraseña-a30d"  class="u-border-10 u-border-grey-10 u-grey-10 u-input u-input-rectangle u-radius-50 u-block-f9ab-13" required="">
                        <!--div class="input-group-append"-->
                            <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>

                    </div>
                    <hr>
                    <div class="u-form-checkbox u-form-group u-label-top u-block-f9ab-14">
                        <input type="checkbox" id="checkbox-a30d" name="checkbox" value="On">
                        <label for="checkbox-a30d" class="u-label u-text-grey-30 u-block-f9ab-15">Recuérdame</label>
                    </div>
                    <hr>
                    <div class="u-align-center u-form-group u-form-submit u-label-top u-block-f9ab-16">
                        <input type="submit" value="submit" class="u-form-control-hidden">
                        <a href="#" class="u-active-palette-1-base u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-base u-palette-2-base u-radius-50 u-block-f9ab-17">Iniciar sesión</a>
                    </div>

                    <!--input type="hidden" value="" name="recaptchaResponse"-->

                </form>
            </div><a href="https://nicepage.com/website-design" class="u-border-active-palette-2-base u-border-hover-palette-2-base u-border-none u-btn u-button-style u-login-control u-login-create-account u-none u-text-palette-2-base u-block-f9ab-18">¿No tienes cuenta? Regístrate aquí</a><a href="https://nicepage.com/k/youtube-website-templates" class="u-border-active-palette-2-base u-border-hover-palette-2-base u-border-none u-btn u-button-style u-login-control u-login-create-account u-none u-text-palette-2-base u-block-f9ab-19">¿Olvidaste la contraseña?</a><p class="u-text u-block-f9ab-20"><a href="https://www.freepik.com/vectors/background" class="u-active-none u-border-1 u-border-active-palette-2-base u-border-black u-border-hover-palette-2-base u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-block-f9ab-21"></a></p></div>
        </div>
    </section>

</div>



<script type="text/javascript">
function mostrarPassword(){
		var cambio = document.getElementById("contraseña-a30d");
		if(cambio.type == "password"){
			cambio.type = "text";
			$('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
		}else{
			cambio.type = "password";
			$('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
		}
	}
</script>


</body></html>