<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>DogGo - Inicio</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png"> <!--Icono T, al lado de DogGo - Inicio-->
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

</head>
<body>
    <!-- NavBar del  LogIn -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom"  th:fragment="navBarIndexLogIn">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Inicio</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="hoteles.html">Hoteles</a></li>
							<li><a href="residencias.html">Residencias</a></li>
							<li><a href="restaurantes.html">Restaurantes</a></li>
							<li><a href="paseadores.html">Paseadores</a></li>
						</ul>
					</li>
					<li><a class="btn" href="signin.html">Iniciar sesión / Registrarse</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

    <!-- NavBar de Log Out -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom"  th:fragment="navBarIndexLogOut">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Inicio</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="hoteles.html">Hoteles</a></li>
							<li><a href="residencias.html">Residencias</a></li>
							<li><a href="restaurantes.html">Restaurantes</a></li>
							<li><a href="paseadores.html">Paseadores</a></li>
						</ul>
					</li>
                    <li><a href="miperfil.html">Mi perfil</a></li>
					<li><a class="btn" href="#">Cerrar sesión</a></li> <!-- Cambiar link a página inicio de LogIn -->
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
    
</body>
</html>