<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<!DOCTYPE html>
<html   xmlns:sd="http://www.w3.org/1999/xhtml"
        lang="en" xmlns="https://www.thymeleaf.org"
        xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>

<body>
<!-- Fixed navbar -->
<nav th:replace="~{fragments/navBar :: navBarIndexIn}"> </nav>
<!-- /.navbar -->

<h1>Gestión de usuarios</h1>
<a th:href="@{/users/create}">Nuevo usuario</a>
Show <span sd:page-size-selector="javascript"></span> entries
<form action="#" th:action="@{'/'}" method="post">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre usuario</th>
            <th>Fecha último login</th>
            <th>Fecha de nacimiento</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Teléfono móvil</th>
            <th>Dirección</th>
            <th>&nbsp</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item,iter : ${users}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.userName}"></td>
            <td th:text="${item.date}"></td>
            <td th:text="${item.birthDate}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.surname}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.phone}"></td>
            <td th:text="${item.addresses}"></td>
            <td>
                <a href="#" class="btn btn-default" th:href="@{'/users/' + ${item.id}}"
                   title="View"><span class="glyphicon glyphicon glyphicon-eye-open"></span></a>
                <a href="#" class="btn btn-default" th:href="@{'/users/' + ${item.id} + '/edit'}"
                   title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                <button class="btn btn-danger" type="submit" value="Delete"
                        th:formaction="'/users/' + ${item.id} + '/delete'">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <!-- <a href="#" class="btn btn-default" th:href="@{'/tasks/' + ${task.id} + '/delete'}" -->
                <!-- title="Delete"><span class="glyphicon glyphicon-trash"></span></a> -->
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(users.content)}">
            <td colspan="13" class="text-center">No users</td>
        </tr>
        </tbody>
    </table>
    </div>
</form>
</div>
<div th:if="${not #lists.isEmpty(users.content)}">
    <div class="text-center">
        <nav>
            <ul class="pagination" sd:pagination="full">
                <div th:if="${users.totalPages > 0}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                    <li th:class="${pageNumber==users.number + 1} ? active">
                        <a href="#" th:href="@{/users(size=${users.size}, page=${pageNumber})}"
                           th:text=${pageNumber}></a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
</div>

<!-- footer -->
<footer th:replace="~{fragments/footer :: nuestroFooter}"></footer>
<!-- /footer -->



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/headroom.min.js}"></script>
<script th:src="@{/js/jQuery.headroom.min.js}"></script>
<script th:src="@{/js/template.js}"></script>

</body>
</html>

