<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      style="font-size: 16px;" lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<body class="home">

<div layout:fragment="content">
    <h1>Gestión de residencias caninas</h1>
    <a href="/daycare/create">Nueva residencia</a>
    Mostrar <span sd:page-size-selector="javascript"></span> entradas
    <form action="#" th:action="@{'/'}" method="post">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <tbody class="u-table-body">
                <tr style="height: 64px;">
                    <th class="u-border-1 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-1">ID</th>
                    <th class="u-border-1 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-2">Usuario</th>
                    <th class="u-border-1 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-3">Fecha último login</th>
                    <th class="u-border-1 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-4">Fecha de nacimiento</th>
                    <th class="u-border-1 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-4">Nombre</th>
                    <th class="u-border-1 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-4">Apellidos</th>
                    <th class="u-border-1 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-4">Email</th>
                    <th class="u-border-1 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-4">Teléfono móvil</th>
                    <th class="u-border-1 u-border-grey-30 u-palette-2-base u-table-cell u-table-cell-4">Dirección</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>

                <tr th:each="item,iter : ${users}" style="height: 65px;">
                    <td class="u-border-1 u-border-grey-30 u-palette-1-base u-table-cell u-table-cell-9" th:text="${item.id}">R</td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${item.userName}"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${item.date}"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${item.birthDate}"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${item.name}"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${item.surname}"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${item.email}"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${item.phone}"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell" th:text="${item.addresses}"></td>
                    <td></td>
                    <!--td>
                        <a href="#" class="btn btn-default" th:href="@{'/users/' + ${item.id}}"
                           title="View"><span class="glyphicon glyphicon glyphicon-eye-open"></span></a>
                        <a href="#" class="btn btn-default" th:href="@{'/users/' + ${item.id} + '/edit'}"
                           title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button class="btn btn-danger" type="submit" value="Delete"
                                th:formaction="'/users/' + ${item.id} + '/delete'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                     </td-->

                    <td>
                        <a class="btn btn-default" th:href="@{'/users/' + ${item.id}}"
                           title="View">Ver</a>
                        <a  class="btn btn-default" th:href="@{'/users/' + ${item.id} + '/edit'}"
                           title="Edit">Modificar</a>
                        <button class="btn btn-danger" type="submit" value="Delete"
                                th:formaction="'/users/' + ${item.id} + '/delete'">Borrar</button>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(users.content)}">
                    <td colspan="13" class="text-center">No users</td>
                </tr>
                </tbody>
            </table>
        </div>
</form>
</div>

<div th:if="${not #lists.isEmpty(users.content)}">
    <div class="text-center">
        <nav>
            <ul class="pagination" sd:pagination="full">
                <div th:if="${users.totalPages > 0}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                    <li th:class="${pageNumber==users.number + 1} ? active">
                        <a href="#" th:href="@{/users(size=${users.size}, page=${pageNumber})}"
                           th:text=${pageNumber}></a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
</div>
</div>
<!-- /Intro-->

</body>
</html>
