/************************************************************************/
/*          <style data-mode="XL"></style>          */
/************************************************************************/

@media (min-width: 1200px) {
  .u-block-4789-2 {
    min-height: 1638px;
  }
  .u-block-4789-3 {
    width: 321px;
    height: 321px;
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/51a530bbe41b40fc4d97330acd440b44729815c93c3a51de9251b523711a1e9cc64230c26e75bfdebde9372f28db81ca3a53bcbea8c52c2d9ccbc6_1280.jpg?rand=0879");
    background-position: 50% 50%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 36px;
  }
  .u-block-4789-4 {
    border-style: none none solid;
    font-size: 3rem;
    font-weight: 600;
    margin-top: -321px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 357px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 55px;
    padding-right: 55px;
  }
  .u-block-4789-5 {
    font-size: 1.25rem;
    margin-top: -16px;
    margin-right: -50px;
    margin-bottom: 0;
    margin-left: 407px;
  }
  .u-block-4789-11 {
    font-size: 1.25rem;
    margin-top: 18px;
    margin-right: -281px;
    margin-bottom: 0;
    margin-left: 638px;
  }
  .u-block-4789-6 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 407px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-7 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 438px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-8 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 469px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-9 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 500px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-10 {
    width: 21px;
    height: 21px;
    margin-top: -21px;
    margin-right: 511px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-12 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 44px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 401px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 68px;
    padding-right: 68px;
  }
  .u-block-4789-13 {
    font-weight: 700;
    margin-top: 111px;
    margin-right: 357px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-16 {
    height: 265px;
    width: 1021px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-18 {
    margin-right: 10px;
  }
  .u-block-4789-21 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-22 {
    margin-right: 10px;
  }
  .u-block-4789-25 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-30 {
    margin-right: 10px;
  }
  .u-block-4789-33 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-34 {
    margin-right: 10px;
  }
  .u-block-4789-37 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-38 {
    margin-right: 10px;
  }
  .u-block-4789-41 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-42 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-43 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-44 {
    font-weight: 700;
    margin-top: 101px;
    margin-right: 357px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-46 {
    margin-top: 12px;
    margin-right: 233px;
    margin-bottom: 0;
    margin-left: 125px;
  }
  .u-block-4789-48 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -42px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 638px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-49 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 669px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-50 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 700px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-51 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 731px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-45 {
    width: 62px;
    height: 62px;
    margin-top: -16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-47 {
    margin-top: 12px;
    margin-right: 339px;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-53 {
    margin-top: 20px;
    margin-bottom: 0;
    transform-origin: left center 0px;
  }
  .u-block-4789-55 {
    margin-top: 23px;
    margin-right: 238px;
    margin-bottom: 0;
    margin-left: 119px;
  }
  .u-block-4789-57 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -42px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 638px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-58 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 669px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-59 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 700px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-60 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 731px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-54 {
    width: 61px;
    height: 61px;
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/e28b463d8cd5779c7f4bb61bdf56b99aea6cde15a8eb06e948db7943351bda42aa87558192f4050489c614ff43996835511192aa0a811f7b3bd252_1280.jpg?rand=b17e");
    background-position: 50% 50%;
    margin-top: -20px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-56 {
    margin-top: 24px;
    margin-right: 339px;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-61 {
    transform-origin: left center 0px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .u-block-4789-63 {
    margin-top: 25px;
    margin-right: 246px;
    margin-bottom: 0;
    margin-left: 111px;
  }
  .u-block-4789-62 {
    width: 62px;
    height: 62px;
    margin-top: -42px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-65 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -62px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 638px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-66 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 669px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-67 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 700px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-68 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 731px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-69 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: 358px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-64 {
    margin-top: 60px;
    margin-right: 339px;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-70 {
    transform-origin: left center 0px;
    margin-top: 25px;
    margin-bottom: 60px;
  }
}</style><style data-mode="LG">@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-4789-2 {
    min-height: 1638px;
  }
  .u-block-4789-3 {
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/51a530bbe41b40fc4d97330acd440b44729815c93c3a51de9251b523711a1e9cc64230c26e75bfdebde9372f28db81ca3a53bcbea8c52c2d9ccbc6_1280.jpg?rand=0879");
    width: 321px;
    height: 321px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 36px;
  }
  .u-block-4789-4 {
    border-style: none none solid;
    font-size: 3rem;
    font-weight: 600;
    margin-top: -321px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 157px;
    padding-top: 0;
    padding-right: 55px;
    padding-bottom: 0;
    padding-left: 55px;
  }
  .u-block-4789-5 {
    font-size: 1.25rem;
    margin-top: -16px;
    margin-right: -50px;
    margin-bottom: 0;
    margin-left: 307px;
  }
  .u-block-4789-11 {
    font-size: 1.25rem;
    margin-top: 18px;
    margin-right: -281px;
    margin-bottom: 0;
    margin-left: 538px;
  }
  .u-block-4789-6 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 307px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-7 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 361px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-8 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 387px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-9 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 412px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-10 {
    width: 21px;
    height: 21px;
    margin-top: -21px;
    margin-right: 421px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-12 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 44px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 201px;
    padding-top: 10px;
    padding-right: 68px;
    padding-bottom: 10px;
    padding-left: 68px;
  }
  .u-block-4789-13 {
    margin-top: 111px;
    margin-right: 157px;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 700;
  }
  .u-block-4789-16 {
    height: 265px;
    margin-top: 361px;
    margin-bottom: 0;
    width: 940px;
    margin-right: auto;
    margin-left: 0;
  }
  .u-block-4789-18 {
    margin-right: 10px;
  }
  .u-block-4789-21 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-22 {
    margin-right: 10px;
  }
  .u-block-4789-25 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-30 {
    margin-right: 10px;
  }
  .u-block-4789-33 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-34 {
    margin-right: 10px;
  }
  .u-block-4789-37 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-38 {
    margin-right: 10px;
  }
  .u-block-4789-41 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-42 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-43 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-44 {
    font-weight: 700;
    margin-top: 101px;
    margin-right: 157px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-46 {
    margin-top: 12px;
    margin-right: 133px;
    margin-bottom: 0;
    margin-left: 25px;
  }
  .u-block-4789-48 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -41px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 526px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-49 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 552px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-50 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 577px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-51 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 603px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-45 {
    width: 62px;
    height: 62px;
    margin-top: -38px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-47 {
    margin-top: 33px;
    margin-right: 139px;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-53 {
    margin-top: -10px;
    margin-bottom: 0;
    transform-origin: left center 0px;
  }
  .u-block-4789-55 {
    margin-top: -77px;
    margin-right: 138px;
    margin-bottom: 0;
    margin-left: 19px;
  }
  .u-block-4789-57 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 526px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-58 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 552px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-59 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 577px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-60 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 603px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-54 {
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/e28b463d8cd5779c7f4bb61bdf56b99aea6cde15a8eb06e948db7943351bda42aa87558192f4050489c614ff43996835511192aa0a811f7b3bd252_1280.jpg?rand=b17e");
    width: 61px;
    height: 61px;
    background-position: 50% 50%;
    margin-top: -16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-56 {
    margin-top: 20px;
    margin-right: 139px;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-61 {
    transform-origin: left center 0px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .u-block-4789-63 {
    margin-top: 15px;
    margin-right: 146px;
    margin-bottom: 0;
    margin-left: 11px;
  }
  .u-block-4789-62 {
    width: 62px;
    height: 62px;
    margin-top: -42px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-65 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -62px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 526px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-66 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 552px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-67 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 577px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-68 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 603px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-69 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: 295px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-64 {
    margin-top: 38px;
    margin-right: 157px;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-70 {
    transform-origin: left center 0px;
    margin-top: 25px;
    margin-bottom: 60px;
  }
}</style><style data-mode="MD">@media (max-width: 991px) and (min-width: 768px) {
  .u-block-4789-2 {
    min-height: 1638px;
  }
  .u-block-4789-3 {
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/51a530bbe41b40fc4d97330acd440b44729815c93c3a51de9251b523711a1e9cc64230c26e75bfdebde9372f28db81ca3a53bcbea8c52c2d9ccbc6_1280.jpg?rand=0879");
    width: 321px;
    height: 321px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 36px;
  }
  .u-block-4789-4 {
    border-style: none none solid;
    font-size: 3rem;
    font-weight: 600;
    margin-top: -321px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 55px;
    padding-bottom: 0;
    padding-left: 55px;
  }
  .u-block-4789-5 {
    font-size: 1.25rem;
    margin-top: -16px;
    margin-right: -50px;
    margin-bottom: 0;
    margin-left: 197px;
  }
  .u-block-4789-11 {
    font-size: 1.25rem;
    margin-top: 18px;
    margin-right: -281px;
    margin-bottom: 0;
    margin-left: 428px;
  }
  .u-block-4789-6 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 197px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-7 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 277px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-8 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 296px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-9 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 316px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-10 {
    width: 21px;
    height: 21px;
    margin-top: -21px;
    margin-right: 322px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-12 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 44px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 68px;
    padding-bottom: 10px;
    padding-left: 68px;
  }
  .u-block-4789-13 {
    margin-top: 111px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 700;
  }
  .u-block-4789-16 {
    height: 265px;
    margin-top: 361px;
    margin-bottom: 0;
    width: 720px;
    margin-right: auto;
    margin-left: 0;
  }
  .u-block-4789-18 {
    margin-right: 10px;
  }
  .u-block-4789-21 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-22 {
    margin-right: 10px;
  }
  .u-block-4789-25 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-30 {
    margin-right: 10px;
  }
  .u-block-4789-33 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-34 {
    margin-right: 10px;
  }
  .u-block-4789-37 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-38 {
    margin-right: 10px;
  }
  .u-block-4789-41 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-42 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-43 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-44 {
    font-weight: 700;
    margin-top: 101px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-46 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-48 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -41px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 403px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-49 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 423px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-50 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 442px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-51 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 462px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-45 {
    width: 62px;
    height: 62px;
    margin-top: -38px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-47 {
    margin-top: 33px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-53 {
    margin-top: -10px;
    margin-bottom: 0;
    transform-origin: left center 0px;
  }
  .u-block-4789-55 {
    margin-top: -77px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-57 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 403px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-58 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 423px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-59 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 442px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-60 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 462px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-54 {
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/e28b463d8cd5779c7f4bb61bdf56b99aea6cde15a8eb06e948db7943351bda42aa87558192f4050489c614ff43996835511192aa0a811f7b3bd252_1280.jpg?rand=b17e");
    width: 61px;
    height: 61px;
    background-position: 50% 50%;
    margin-top: -16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-56 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-61 {
    transform-origin: left center 0px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .u-block-4789-63 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-62 {
    width: 62px;
    height: 62px;
    margin-top: -42px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-65 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -41px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 403px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-66 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 423px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-67 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 442px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-68 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 462px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-69 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: 226px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-64 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-70 {
    transform-origin: left center 0px;
    margin-top: 25px;
    margin-bottom: 60px;
  }
}</style><style data-mode="SM">@media (max-width: 767px) and (min-width: 576px) {
  .u-block-4789-2 {
    min-height: 1638px;
  }
  .u-block-4789-3 {
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/51a530bbe41b40fc4d97330acd440b44729815c93c3a51de9251b523711a1e9cc64230c26e75bfdebde9372f28db81ca3a53bcbea8c52c2d9ccbc6_1280.jpg?rand=0879");
    width: 321px;
    height: 321px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 36px;
  }
  .u-block-4789-4 {
    border-style: none none solid;
    font-size: 3rem;
    font-weight: 600;
    margin-top: -321px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 55px;
    padding-bottom: 0;
    padding-left: 55px;
  }
  .u-block-4789-5 {
    font-size: 1.25rem;
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-11 {
    font-size: 1.25rem;
    margin-top: 18px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-6 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-7 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 208px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-8 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 222px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-9 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 237px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-10 {
    width: 21px;
    height: 21px;
    margin-top: -21px;
    margin-right: 242px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-12 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 44px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 68px;
    padding-bottom: 10px;
    padding-left: 68px;
  }
  .u-block-4789-13 {
    margin-top: 111px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 700;
  }
  .u-block-4789-16 {
    height: 265px;
    margin-top: 361px;
    margin-bottom: 0;
    width: 540px;
    margin-right: auto;
    margin-left: 0;
  }
  .u-block-4789-18 {
    margin-right: 10px;
  }
  .u-block-4789-21 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-22 {
    margin-right: 10px;
  }
  .u-block-4789-25 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-30 {
    margin-right: 10px;
  }
  .u-block-4789-33 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-34 {
    margin-right: 10px;
  }
  .u-block-4789-37 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-38 {
    margin-right: 10px;
  }
  .u-block-4789-41 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-42 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-43 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-44 {
    font-weight: 700;
    margin-top: 101px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-46 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-48 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: 1px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 302px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-49 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 317px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-50 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 332px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-51 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 347px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-45 {
    width: 62px;
    height: 62px;
    margin-top: -80px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-47 {
    margin-top: 33px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-53 {
    margin-top: -10px;
    margin-bottom: 0;
    transform-origin: left center 0px;
  }
  .u-block-4789-55 {
    margin-top: -77px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-57 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 302px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-58 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 317px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-59 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 332px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-60 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 347px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-54 {
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/e28b463d8cd5779c7f4bb61bdf56b99aea6cde15a8eb06e948db7943351bda42aa87558192f4050489c614ff43996835511192aa0a811f7b3bd252_1280.jpg?rand=b17e");
    width: 61px;
    height: 61px;
    background-position: 50% 50%;
    margin-top: -16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-56 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-61 {
    transform-origin: left center 0px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .u-block-4789-63 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-62 {
    width: 62px;
    height: 62px;
    margin-top: -42px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-65 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -41px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 302px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-66 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 317px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-67 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 332px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-68 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 347px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-69 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: 48px;
    margin-right: 170px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-64 {
    margin-top: -31px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 48px;
  }
  .u-block-4789-70 {
    transform-origin: left center 0px;
    margin-top: 25px;
    margin-bottom: 60px;
  }
}</style><style data-mode="XS">@media (max-width: 575px) {
  .u-block-4789-2 {
    min-height: 1638px;
  }
  .u-block-4789-3 {
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/51a530bbe41b40fc4d97330acd440b44729815c93c3a51de9251b523711a1e9cc64230c26e75bfdebde9372f28db81ca3a53bcbea8c52c2d9ccbc6_1280.jpg?rand=0879");
    width: 321px;
    height: 321px;
    background-position: 50% 50%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 19px;
  }
  .u-block-4789-4 {
    border-style: none none solid;
    font-size: 3rem;
    font-weight: 600;
    margin-top: -321px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 55px;
    padding-bottom: 0;
    padding-left: 55px;
  }
  .u-block-4789-5 {
    font-size: 1.25rem;
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-11 {
    font-size: 1.25rem;
    margin-top: 18px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-6 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-7 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 131px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-8 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 140px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-9 {
    width: 21px;
    height: 21px;
    color: rgb(237, 138, 25) !important;
    margin-top: -21px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 149px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-10 {
    width: 21px;
    height: 21px;
    margin-top: -21px;
    margin-right: 152px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-12 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    border-style: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 44px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 68px;
    padding-bottom: 10px;
    padding-left: 68px;
  }
  .u-block-4789-13 {
    margin-top: 111px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 700;
  }
  .u-block-4789-16 {
    height: 265px;
    margin-top: 361px;
    margin-bottom: 0;
    width: 340px;
    margin-right: auto;
    margin-left: 0;
  }
  .u-block-4789-18 {
    margin-right: 10px;
  }
  .u-block-4789-21 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-22 {
    margin-right: 10px;
  }
  .u-block-4789-25 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-30 {
    margin-right: 10px;
  }
  .u-block-4789-33 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-34 {
    margin-right: 10px;
  }
  .u-block-4789-37 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-38 {
    margin-right: 10px;
  }
  .u-block-4789-41 {
    background-image: linear-gradient(0deg, rgba(var(--black-r),var(--black-g),var(--black-b),0.2), rgba(var(--black-r),var(--black-g),var(--black-b),0.2));
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-4789-42 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-43 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-block-4789-44 {
    font-weight: 700;
    margin-top: 101px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .u-block-4789-46 {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-48 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: 22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 190px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-49 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 200px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-50 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 209px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-51 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 218px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-45 {
    width: 62px;
    height: 62px;
    margin-top: -101px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-47 {
    margin-top: 33px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-53 {
    margin-top: -10px;
    margin-bottom: 0;
    transform-origin: left center 0px;
  }
  .u-block-4789-55 {
    margin-top: -77px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-57 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: 81px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 190px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-58 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 200px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-59 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 209px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-60 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 218px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-54 {
    background-image: url("np://user.desktop.nicepage.com/Site_76119565/images/e28b463d8cd5779c7f4bb61bdf56b99aea6cde15a8eb06e948db7943351bda42aa87558192f4050489c614ff43996835511192aa0a811f7b3bd252_1280.jpg?rand=b17e");
    width: 61px;
    height: 61px;
    background-position: 50% 50%;
    margin-top: -37px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-56 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 18px;
  }
  .u-block-4789-61 {
    transform-origin: left center 0px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .u-block-4789-63 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-62 {
    width: 62px;
    height: 62px;
    margin-top: -42px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-65 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: 1px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 190px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-66 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 200px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-67 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 209px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-68 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 218px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-69 {
    width: 21px;
    height: 22px;
    color: rgb(237, 138, 25) !important;
    margin-top: -22px;
    margin-right: 107px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-4789-64 {
    margin-top: -25px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-4789-70 {
    transform-origin: left center 0px;
    margin-top: 25px;
    margin-bottom: 60px;
  }
}