/************************************************************************/
/*          <style data-mode="XL" data-visited="true"></style>          */
/************************************************************************/

@media (min-width: 1200px) {
  .u-block-f9ab-1 {
    background-image: none;
    min-height: 1011px;
  }
  .u-block-f9ab-2 {
    height: 452px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-f9ab-3 {
    width: 726px;
    min-height: 787px;
    box-shadow: 5px 5px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
    height: auto;
    margin-top: -256px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .u-block-f9ab-4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-f9ab-5 {
    width: 165px;
    height: 162px;
    box-shadow: 5px -10px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 245px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-f9ab-6 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: none;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-f9ab-7 {
    height: 363px;
    width: 570px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .u-block-f9ab-9 {
    font-size: 1.125rem;
    letter-spacing: 0px;
    text-transform: none;
  }
  .u-block-f9ab-10 {
    background-image: none;
    font-size: 1.125rem;
  }
  .u-block-f9ab-12 {
    font-size: 1.125rem;
    letter-spacing: 0px;
    text-transform: none;
  }
  .u-block-f9ab-13 {
    background-image: none;
    font-size: 1.125rem;
  }
  .u-block-f9ab-15 {
    font-size: 1.125rem;
    letter-spacing: 0px;
    text-transform: none;
  }
  .u-block-f9ab-17 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: none;
    width: 100%;
    font-size: 1.125rem;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-f9ab-18 {
    font-weight: 700;
    font-size: 1.125rem;
    border-style: none;
    margin-top: 35px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 48px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-f9ab-19 {
    font-weight: 700;
    font-size: 1.125rem;
    border-style: none;
    margin-top: -29px;
    margin-right: 48px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-f9ab-20 {
    margin-top: 38px;
    margin-right: 256px;
    margin-bottom: 0;
    margin-left: 264px;
  }
  .u-block-f9ab-21 {
    border-style: none none solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
 }

 /************************************************************************/
 /*          <style data-mode="LG" data-visited="true"></style>          */
 /************************************************************************/

   @media (max-width: 1199px) and (min-width: 992px) {
   .u-block-f9ab-1 {
     background-image: none;
     min-height: 1011px;
   }
   .u-block-f9ab-2 {
     height: 426px;
     margin-top: 0;
     margin-bottom: 0;
   }
   .u-block-f9ab-3 {
     box-shadow: 5px 5px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
     width: 726px;
     min-height: 787px;
     margin-top: -256px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 60px;
   }
   .u-block-f9ab-4 {
     padding-top: 0;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 0;
   }
   .u-block-f9ab-5 {
     box-shadow: 5px -10px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
     width: 165px;
     height: 162px;
     margin-top: 0;
     margin-left: 245px;
     margin-right: auto;
     margin-bottom: 0;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
   .u-block-f9ab-6 {
     font-size: 2.5rem;
     font-weight: 700;
     letter-spacing: 2px;
     text-transform: none;
     margin-top: 43px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0;
   }
   .u-block-f9ab-7 {
     height: 363px;
     width: 570px;
     margin-top: 35px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0;
   }
   .u-block-f9ab-9 {
     font-size: 1.125rem;
     letter-spacing: 0px;
     text-transform: none;
   }
   .u-block-f9ab-10 {
     background-image: none;
     font-size: 1.125rem;
   }
   .u-block-f9ab-12 {
     font-size: 1.125rem;
     letter-spacing: 0px;
     text-transform: none;
   }
   .u-block-f9ab-13 {
     background-image: none;
     font-size: 1.125rem;
   }
   .u-block-f9ab-15 {
     font-size: 1.125rem;
     letter-spacing: 0px;
     text-transform: none;
   }
   .u-block-f9ab-17 {
     background-image: none;
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 1px;
     width: 100%;
     font-size: 1.125rem;
     padding-top: 27px;
     padding-bottom: 27px;
     padding-left: 30px;
     padding-right: 30px;
   }
   .u-block-f9ab-18 {
     font-weight: 700;
     font-size: 1.125rem;
     border-style: none;
     margin-top: 35px;
     margin-right: auto;
     margin-bottom: 0;
     margin-left: 48px;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
   .u-block-f9ab-19 {
     font-weight: 700;
     font-size: 1.125rem;
     border-style: none;
     margin-top: -29px;
     margin-right: 48px;
     margin-bottom: 0;
     margin-left: auto;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
   .u-block-f9ab-20 {
     margin-top: 38px;
     margin-right: 256px;
     margin-bottom: 0;
     margin-left: 264px;
   }
   .u-block-f9ab-21 {
     border-style: none none solid;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
 }


  /************************************************************************/
  /*                     <style data-mode="MD"></style>                   */
  /************************************************************************/

 @media (max-width: 991px) and (min-width: 768px) {
   .u-block-f9ab-1 {
     background-image: none;
     min-height: 1011px;
   }
   .u-block-f9ab-2 {
     height: 426px;
     margin-top: 0;
     margin-bottom: 0;
   }
   .u-block-f9ab-3 {
     box-shadow: 5px 5px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
     width: 720px;
     min-height: 787px;
     margin-top: -256px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 60px;
   }
   .u-block-f9ab-4 {
     padding-top: 0;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 0;
   }
   .u-block-f9ab-5 {
     box-shadow: 5px -10px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
     width: 165px;
     height: 162px;
     margin-top: 0;
     margin-left: 243px;
     margin-right: auto;
     margin-bottom: 0;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
   .u-block-f9ab-6 {
     font-size: 2.5rem;
     font-weight: 700;
     letter-spacing: 2px;
     text-transform: none;
     margin-top: 43px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0;
   }
   .u-block-f9ab-7 {
     height: 363px;
     width: 570px;
     margin-top: 35px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0;
   }
   .u-block-f9ab-9 {
     font-size: 1.125rem;
     letter-spacing: 0px;
     text-transform: none;
   }
   .u-block-f9ab-10 {
     background-image: none;
     font-size: 1.125rem;
   }
   .u-block-f9ab-12 {
     font-size: 1.125rem;
     letter-spacing: 0px;
     text-transform: none;
   }
   .u-block-f9ab-13 {
     background-image: none;
     font-size: 1.125rem;
   }
   .u-block-f9ab-15 {
     font-size: 1.125rem;
     letter-spacing: 0px;
     text-transform: none;
   }
   .u-block-f9ab-17 {
     background-image: none;
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 1px;
     width: 100%;
     font-size: 1.125rem;
     padding-top: 27px;
     padding-bottom: 27px;
     padding-left: 30px;
     padding-right: 30px;
   }
   .u-block-f9ab-18 {
     font-weight: 700;
     font-size: 1.125rem;
     border-style: none;
     margin-top: 35px;
     margin-right: auto;
     margin-bottom: 0;
     margin-left: 42px;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
   .u-block-f9ab-19 {
     font-weight: 700;
     font-size: 1.125rem;
     border-style: none;
     margin-top: -29px;
     margin-right: 42px;
     margin-bottom: 0;
     margin-left: auto;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
   .u-block-f9ab-20 {
     margin-top: 38px;
     margin-right: 253px;
     margin-bottom: 0;
     margin-left: 261px;
   }
   .u-block-f9ab-21 {
     border-style: none none solid;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
 }


   /************************************************************************/
   /*         <style data-mode="SM" data-visited="true"></style>           */
   /************************************************************************/

 @media (max-width: 767px) and (min-width: 576px) {
   .u-block-f9ab-1 {
     background-image: none;
     min-height: 1011px;
   }
   .u-block-f9ab-2 {
     height: 426px;
     margin-top: 0;
     margin-bottom: 0;
   }
   .u-block-f9ab-3 {
     box-shadow: 5px 5px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
     width: 540px;
     min-height: 787px;
     margin-top: -256px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 60px;
   }
   .u-block-f9ab-4 {
     padding-top: 0;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 0;
   }
   .u-block-f9ab-5 {
     box-shadow: 5px -10px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
     width: 165px;
     height: 162px;
     margin-top: 0;
     margin-left: 191px;
     margin-right: auto;
     margin-bottom: 0;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
   .u-block-f9ab-6 {
     font-size: 2.5rem;
     font-weight: 700;
     letter-spacing: 2px;
     text-transform: none;
     margin-top: 43px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0;
   }
   .u-block-f9ab-7 {
     height: 363px;
     width: 480px;
     margin-top: 35px;
     margin-left: 0;
     margin-right: 0;
     margin-bottom: 0;
   }
   .u-block-f9ab-9 {
     font-size: 1.125rem;
     letter-spacing: 0px;
     text-transform: none;
   }
   .u-block-f9ab-10 {
     background-image: none;
     font-size: 1.125rem;
   }
   .u-block-f9ab-12 {
     font-size: 1.125rem;
     letter-spacing: 0px;
     text-transform: none;
   }
   .u-block-f9ab-13 {
     background-image: none;
     font-size: 1.125rem;
   }
   .u-block-f9ab-15 {
     font-size: 1.125rem;
     letter-spacing: 0px;
     text-transform: none;
   }
   .u-block-f9ab-17 {
     background-image: none;
     border-style: none;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 1px;
     width: 100%;
     font-size: 1.125rem;
     padding-top: 27px;
     padding-bottom: 27px;
     padding-left: 30px;
     padding-right: 30px;
   }
   .u-block-f9ab-18 {
     font-weight: 700;
     font-size: 1.125rem;
     border-style: none;
     margin-top: 35px;
     margin-right: auto;
     margin-bottom: 0;
     margin-left: 0;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
   .u-block-f9ab-19 {
     font-weight: 700;
     font-size: 1.125rem;
     border-style: none;
     margin-top: -29px;
     margin-right: auto;
     margin-bottom: 0;
     margin-left: 323px;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
   .u-block-f9ab-20 {
     width: 178px;
     margin-top: 38px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0;
   }
   .u-block-f9ab-21 {
     border-style: none none solid;
     padding-top: 0;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
   }
  }


     /************************************************************************/
     /*         <style data-mode="XS" data-visited="true"></style>           */
     /************************************************************************/

  @media (max-width: 575px) {
    .u-block-f9ab-1 {
      background-image: none;
      min-height: 1011px;
    }
    .u-block-f9ab-2 {
      height: 426px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-f9ab-3 {
      box-shadow: 5px 5px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
      width: 340px;
      min-height: 787px;
      margin-top: -256px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }
    .u-block-f9ab-4 {
      padding-top: 0;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0;
    }
    .u-block-f9ab-5 {
      box-shadow: 5px -10px 20px 0 rgba(var(--black-r),var(--black-g),var(--black-b),0.4);
      width: 165px;
      height: 162px;
      margin-top: 0;
      margin-left: 118px;
      margin-right: auto;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .u-block-f9ab-6 {
      font-size: 2.25rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: none;
      margin-top: 43px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-f9ab-7 {
      height: 363px;
      width: 300px;
      margin-top: 35px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-f9ab-9 {
      font-size: 1.125rem;
      letter-spacing: 0px;
      text-transform: none;
    }
    .u-block-f9ab-10 {
      background-image: none;
      font-size: 1.125rem;
    }
    .u-block-f9ab-12 {
      font-size: 1.125rem;
      letter-spacing: 0px;
      text-transform: none;
    }
    .u-block-f9ab-13 {
      background-image: none;
      font-size: 1.125rem;
    }
    .u-block-f9ab-15 {
      font-size: 1.125rem;
      letter-spacing: 0px;
      text-transform: none;
    }
    .u-block-f9ab-17 {
      background-image: none;
      border-style: none;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 100%;
      font-size: 1.125rem;
      padding-top: 27px;
      padding-bottom: 27px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .u-block-f9ab-18 {
      font-weight: 700;
      font-size: 1.125rem;
      border-style: none;
      margin-top: 35px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .u-block-f9ab-19 {
      font-weight: 700;
      font-size: 1.125rem;
      border-style: none;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .u-block-f9ab-20 {
      margin-top: 38px;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
      width: 178px;
    }
    .u-block-f9ab-21 {
      border-style: none none solid;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }


