<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/headNice :: head}"></head>

<body class="home">
<!-- Header y navbar -->
<header th:replace="~{fragments/header :: header}">  </header>
<!-- /.navbar -->

<!-- Intro -->
<div class="container text-center">
	<section class="content" layout:fragment="content"></section>
</div>
<!-- /Intro-->



<!-- footer -->
<footer th:replace="~{fragments/footer :: nuestroFooter}"></footer>
<!-- /footer -->



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/headroom.min.js}"></script>
<script th:src="@{/js/jQuery.headroom.min.js}"></script>
<script th:src="@{/js/template.js}"></script>

<script class="u-script" type="text/javascript" src="js/jquery.js"></script>
<script class="u-script" type="text/javascript" src="js/nicepage.js"></script>

</body>
</html>