<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      style="font-size: 16px;" lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<body class="home">

<div layout:fragment="content">

    <h1>Gestión de residencias caninas</h1>



    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script class="u-script" type="text/javascript" src="js/jquery.js"></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js"></script>
</div>
</body>
</html>