!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" style="font-size: 16px;" lang="es">

<head th:replace="~{fragments/headNice :: head}"></head>

<body data-home-page="Doggo.html" data-home-page-title="Doggo" class="u-body u-xl-mode" data-lang="es">


<header th:replace="~{fragments/header :: header}">  </header>






<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-184c"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">Texto de muestra. Haz click para seleccionar el elemento de Texto.</p>
</div></footer>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Template</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
        <span>HTML Layout generator</span>
    </a>.
</section>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script class="u-script" type="text/javascript" src="js/jquery.js"></script>
<script class="u-script" type="text/javascript" src="js/nicepage.js"></script>
</body></html>