<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>

<body>
<!-- Fixed navbar -->
<nav th:replace="~{fragments/navBar :: navBarIndexIn}"> </nav>
<!-- /.navbar -->

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="index.html">Home</a></li>
		<li class="active">Registro</li>
	</ol>

	<div class="row">

		<!-- Article main content -->
		<article class="col-xs-12 maincontent">
			<header class="page-header">
				<h1 class="page-title">Registro</h1>
			</header>
			<div>
				<form th:action="@{/signup}" method="post">
					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<div class="panel panel-default">
							<div class="panel-body">
								<h3 class="thin text-center">Registrar una nueva cuenta</h3>
								<p class="text-center text-muted">Si ya tienes una cuenta, pincha en el enlace siguiente <a href="login.html">Login</a> para iniciar sesión </p>
								<hr>

								<form>
									<div class="top-margin">
										<label>Nombre</label>
										<input type="text" class="form-control">
									</div>
									<div class="top-margin">
										<label>Apellidos</label>
										<input type="text" class="form-control">
									</div>
									<div class="top-margin">
										<label>Nombre de usuario<span class="text-danger">*</span></label>
										<input type="text" class="form-control">
									</div>
									<div class="top-margin">
										<label>Correo electrónico<span class="text-danger">*</span></label>
										<input type="text" class="form-control">
									</div>
									<div class="top-margin">
										<label>Teléfono<span class="text-danger">*</span></label>
										<input type="text" class="form-control">
									</div>
									<div class="top-margin">
										<label>Fecha de nacimiento<span class="text-danger">*</span></label>
										<input type="date" class="form-control">
									</div>

									<div class="row top-margin">
										<div class="col-sm-6">
											<label>Contraseña <span class="text-danger">*</span></label>
											<input type="text" class="form-control">
										</div>
										<div class="col-sm-6">
											<label>Confirmar contraseña <span class="text-danger">*</span></label>
											<input type="text" class="form-control">
										</div>
									</div>

									<hr>

									<div class="row">
										<div class="col-lg-8">
											<label class="checkbox">
												<input type="checkbox">
												He leído y acepto los <a href="page_terms.html">términos y condiciones</a>
											</label>
										</div>
										<div class="col-lg-4 text-right">
											<button class="btn btn-action" type="submit">Registrar</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</form>
			</div>
		</article>
		<!-- /Article -->

	</div>
</div>	<!-- /container -->


<!-- footer -->
<footer th:replace="~{fragments/footer :: nuestroFooter}"></footer>
<!-- /footer -->

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/headroom.min.js}"></script>
<script th:src="@{/js/jQuery.headroom.min.js}"></script>
<script th:src="@{/js/template.js}"></script>
</body>
</html>