<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      style="font-size: 16px;" lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<head>
    <title>Gestión del catálogo</title>
</head>

<body class="home">


<div layout:fragment="content">
    <h1>Gestión del catálogo</h1>
    <div class="row">
        <div class="col-md-12">
            <form role="form" th:object="${catalogue}" method="post">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="tab-content">
                            <input th:type="hidden" th:field="${catalogue.id}"/>
                            <div class="tab-pane active" id="1a">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="serviceType" th:text="#{Catalogo.serviceType}"></label>
                                        <input type="text" class="form-control"
                                               id="serviceType"
                                               th:field="${catalogue.serviceType}"
                                               maxlength="255">
                                        <label for="serviceDescription" th:text="#{Catalogo.serviceDescription}"></label>
                                        <input type="text" class="form-control"
                                               id="serviceDescription"
                                               th:field="${catalogue.serviceDescription}"
                                               maxlength="255">
                                        <label for="id_product" th:text="#{Catalogo.id_product}"></label>
                                        <input type="text" class="form-control"
                                               id="id_product"
                                               th:field="${catalogue.id_product}"
                                               maxlength="255">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer with-border">
                    <a th:href="@{/catalogue}" class="btn btn-default" role="button"
                       title="Back list" th:text="#{General.Cancel}">
                        <span aria-hidden="true"></span>
                    </a>
                    <button type="submit" class="box-title btn btn-primary"
                            title="Save Data" th:text="#{General.Save}">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>