<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Gestión de servicios de usuarios</title>
</head>

<body class="home">

<div layout:fragment="content">
    <h1>Gestión de residencias caninas</h1>
    <form role="form" th:object="${servicesuser}" method="post" action="#" th:action="@{'/servicesuser/' + ${servicesuser.id} + '/delete'}">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="1a">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Id</label>
                                        <p id="id" th:text="${servicesuser.id}"/>
                                        <label>Usuario</label>
                                        <p id="username" th:text="${servicesuser.username}"/>
                                        <label>Estado de la reserva</label>
                                        <p id="bookingStatus" th:text="${servicesuser.bookingStatus}"/>
                                        <label>Día de creación</label>
                                        <p id="creationDate" th:date="${servicesuser.creationDate}"/>
                                        <label>Nombre del servicio</label>
                                        <p id="serviceName" th:text="${servicesuser.serviceName}"/>
                                        <label>Día de inicio de reserva</label>
                                        <p id="bookingStartDate" th:date="${servicesuser.bookingStartDate}"/>
                                        <label>Día final de reserva</label>
                                        <p id="bookingLastDate" th:date="${servicesuser.bookingLastDate}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer with-border">
                    <a th:href="@{/servicesuser}" class="btn btn-default" role="button"
                       title="Back list" th:text="#{General.Back}">
                        <span aria-hidden="true"></span>
                    </a>
                    <a th:href="@{'/servicesuser/' + ${servicesuser.id} + '/edit'}" class="btn btn-primary" role="button"
                       title="Back list" th:text="#{General.Edit}">
                        <span aria-hidden="true"></span>
                    </a>
                    <button type="submit" class="box-title btn btn-danger"
                            title="Save Data" th:text="#{General.Delete}">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/headroom.min.js}"></script>
<script th:src="@{/js/jQuery.headroom.min.js}"></script>
<script th:src="@{/js/template.js}"></script>
</body>
</html>