<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      style="font-size: 16px;" lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<body class="home">

<div layout:fragment="content">
    <h1>Gestión de servicios de usuarios</h1>
    <div class="row">
        <div class="col-md-12">
            <form role="form" th:object="${servicesuser}" method="post">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="tab-content">
                            <input th:type="hidden" th:field="${servicesuser.id}"/>
                            <div class="tab-pane active" id="1a">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="bookingStatus" th:text="#{Servicio.bookingStatus}"></label>
                                        <input type="text" class="form-control"
                                               id="bookingStatus"
                                               th:field="${servicesuser.bookingStatus}"
                                               maxlength="255">
                                        <label for="creationDate" th:text="#{Servicio.creationDate}"></label>
                                        <input id="creationDate" class="form-control" type="date" th:field="${servicesuser.creationDate}"/>

                                        <label for="bookingStartDate" th:text="#{Servicio.bookingStartDate}"></label>
                                        <input id="bookingStartDate" class="form-control" type="date" th:field="${servicesuser.bookingStartDate}"/>

                                        <label for="bookingLastDate" th:text="#{Servicio.bookingLastDate}"></label>
                                        <input id="bookingLastDate" class="form-control" type="date" th:field="${servicesuser.bookingLastDate}"/>

                                        <div th:unless="${#lists.isEmpty(catalogue)}">
                                            <label for="serviceDescription" th:text="#{Servicio.serviceDescription}"></label>
                                            <select  th:field="${servicesuser.cataloguesId}" class="form-control" id="serviceDescription">
                                                <option value="0">select option</option>
                                                <option th:each="catalogo : ${catalogue}" th:value="${catalogo.id}" th:text="${catalogo.serviceDescription}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer with-border">
                    <a th:href="@{/servicesuser}" class="btn btn-default" role="button"
                       title="Back list" th:text="#{General.Cancel}">
                        <span aria-hidden="true"></span>
                    </a>
                    <button type="submit" class="box-title btn btn-primary"
                            title="Save Data" th:text="#{General.Save}">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>