<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Gestión de paseadores</title>
</head>

<body class="home">

<div layout:fragment="content">
    <h1>Gestión de paseadores</h1>
    <form role="form" th:object="${dogwalker}" method="post" action="#" th:action="@{'/dogwalker/' + ${dogwalker.id} + '/delete'}">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="1a">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Id</label>
                                        <p id="id" th:text="${dogwalker.id}"/>
                                        <label>Doc. Identificación</label>
                                        <p id="doc_identification" th:text="${dogwalker.doc_identification}"/>
                                        <label>Nombre</label>
                                        <p id="name" th:text="${dogwalker.name}"/>
                                        <label>Usuario</label>
                                        <p id="userName" th:text="${dogwalker.userName}"/>
                                        <label>Apellido</label>
                                        <p id="surname" th:text="${dogwalker.surname}"/>
                                        <label>Email</label>
                                        <p id="email" th:text="${dogwalker.email}"/>
                                        <label>Clave</label>
                                        <p id="password" th:text="${dogwalker.password}"/>
                                        <label>Teléfono</label>
                                        <p id="phone" th:text="${dogwalker.phone}"/>
                                        <label>Nacimiento</label>
                                        <p id="birthdate" th:date="${dogwalker.birthdate}"/>
                                        <label>Disponibilidad</label>
                                        <p id="availability" th:text="${dogwalker.availability}"/>
                                        <label>Dirección</label>
                                        <p id="address" th:text="${dogwalker.address}"/>
                                        <label>Máximo de perros</label>
                                        <p id="max_num_dogs" th:number="${dogwalker.max_num_dogs}"/>
                                        <label>Peso del perro</label>
                                        <p id="weight_dogs" th:text="${dogwalker.weight_dogs}"/>
                                        <label>Esterilizado</label>
                                        <p id="sterilized" th:text="${dogwalker.sterilized}"/>
                                        <label>Críticas</label>
                                        <p id="reviews" th:text="${dogwalker.reviews}"/>
                                        <label>Valoración</label>
                                        <p id="assessment" th:text="${dogwalker.assessment}"/>
                                        <label>Precio del paseo</label>
                                        <p id="price_walk" th:text="${dogwalker.price_walk}"/>
                                        <label>Foto de perfil</label>
                                        <p id="profile_picture" th:text="${dogwalker.profile_picture}"/>
                                        <label>Galería</label>
                                        <p id="gallery" th:text="${dogwalker.gallery}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer with-border">
                    <a th:href="@{/dogwalker}" class="btn btn-default" role="button"
                       title="Back list" th:text="#{General.Back}">
                        <span aria-hidden="true"></span>
                    </a>
                    <a th:href="@{'/dogwalker/' + ${dogwalker.id} + '/edit'}" class="btn btn-primary" role="button"
                       title="Back list" th:text="#{General.Edit}">
                        <span aria-hidden="true"></span>
                    </a>
                    <button type="submit" class="box-title btn btn-danger"
                            title="Save Data" th:text="#{General.Delete}">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/headroom.min.js}"></script>
<script th:src="@{/js/jQuery.headroom.min.js}"></script>
<script th:src="@{/js/template.js}"></script>
</body>
</html>