<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <title>Gestión de paseadores</title>
</head>

<body class="home">

<div layout:fragment="content">
    <h1>Gestión de paseadores</h1>
    <a th:href="@{/dogwalker/create}">Nuevo paseador</a>
    Mostrar <span sd:page-size-selector="javascript"></span> entradas
    <form action="#" th:action="@{'/'}" method="post">
        <table style="border-collapse: collapse; width: 100%;">
            <thead>
            <tr>
                <th>Id</th>
                <th>Doc. Identificación</th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Clave</th>
                <th>Teléfono</th>
                <th>Nacimiento</th>
                <th>Disponibilidad</th>
                <th>Dirección</th>
                <th>Máximo de perros</th>
                <th>Peso del perro</th>
                <th>Esterilizado</th>
                <th>Críticas</th>
                <th>Valoración
                <th>Precio del paseo</th>
                <th>Foto de perfil</th>
                <th>Galería</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,iter : ${dogwalker}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.doc_identification}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.userName}"></td>
                <td th:text="${item.surname}"></td>
                <td th:text="${item.email}"></td>
                <td th:text="${item.password}"></td>
                <td th:text="${item.phone}"></td>
                <td th:date="${item.birthdate}"></td>
                <td th:text="${item.availability}"></td>
                <td th:text="${item.address}"></td>
                <td th:number="${item.max_num_dogs}"></td>
                <td th:text="${item.weight_dogs}"></td>
                <td th:text="${item.sterilized}"></td>
                <td th:text="${item.reviews}"></td>
                <td th:text="${item.assessment}"></td>
                <td th:text="${item.price_walk}"></td>
                <td th:text="${item.profile_picture}"></td>
                <td th:text="${item.gallery}"></td>
                <td>
                    <a href="#" class="btn btn-default" th:href="@{'/dogwalker/' + ${item.id}}"
                       title="View">Ver</a>
                    <a href="#" class="btn btn-default" th:href="@{'/dogwalker/' + ${item.id} + '/edit'}"
                       title="Edit">Modificar</a>
                    <button class="btn btn-danger" type="submit" value="Delete"
                            th:formaction="'/dogwalker/' + ${item.id} + '/delete'">Borrar</button>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(dogwalker.content)}">
                <td colspan="13" class="text-center">No hay paseadores</td>
            </tr>
            </tbody>
        </table>
    </form>

    <div th:if="${not #lists.isEmpty(dogwalker.content)}">
        <div class="text-center">
            <nav>
                <ul class="pagination" sd:pagination="full">
                    <div th:if="${dogwalker.totalPages > 0}" class="pagination"
                         th:each="pageNumber : ${pageNumbers}">
                        <li th:class="${pageNumber==dogwalker.number + 1} ? active">
                            <a href="#" th:href="@{/dogwalker(size=${dogwalker.size}, page=${pageNumber})}"
                               th:text=${pageNumber}></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
